<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>My VueJS app</title>
    </head>
    <body>
        <div id="vueApp">
            <h1 v-text="title"></h1>
            <input v-model="newItem" v-on:keyup.enter='addItem' />
            <span><button @click.prevent="addItem">Add</button></span>
            <small>adding item...{{newItem}}</small>


            <h5>List</h5>
            <span>-----------</span>
            <ul v-for="(list, id) in lists" v-bind:key="list.id">
                <li><input type="checkbox"><button v-on:click="removeItem(id)">delete</button>{{list.item}}</li>
            </ul>

            

        </div>


        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
